.header{
background: linear-gradient(90.09deg, #3800AF 0%, #BF7204 97.52%, #C27500 100%, #C27500 100%);
padding: 20px 15px;
}
.header__wrpa-title{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}
.headaer__wrap-title-list{
    max-width: 166px;
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    color: white;
}
.header__desc{
    background:  #010305CC;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header__wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1440px;
    width: 100%;
    padding: 30px 0 ;
}
.header__wrapper-logo{
    display: flex;
    align-items: flex-end;
    gap: 5px;
}
.header__wrapper-logo-txt{
    font-family: var(--CR);
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    color: white;
}
.header__Wrapper-title-items{
    display: flex;
    align-items: center;
}
.header__Wrapper-title-items-list-link{
    font-family: 'Montserrat-Regular', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    color: var(--white);
    transition: .5s linear;
    padding: 42px 15px;
    position: relative;
}
.header__Wrapper-title-items-list-link:hover{
    color: #ED8E00;
}
.header__Wrapper-title-items-list-link::after{
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    border: 20px, 20px, 0px, 0px;
    background: #ED8E00;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    transition: .5s linear;
}
.header__Wrapper-title-items-list-link:hover::after{
    width: 100%;
}

.fa-film{   
    font-size: 50px;
    color: var(--white);
}

@media screen and (max-width:620px){
    .header__desc{
        flex-direction: column;
        gap: 30px;
    }
    .header__wrapper-title{
        gap: 30px;
    }
    .header__Wrapper-title-items-list-link{
        padding: 43px 0;
    }
    
}
@media screen and (max-width:430px){
    .header__wrapper-title{
        gap: 16px;
    }
}